* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

/* utility styles */

.flex {
   display: flex;
   align-items: center;

}

.section-heading {
   font-size: 40px;
   margin-bottom: 30px;
}

.width-container {
   max-width: 1400px;
}

/* landing-section styles */

#landing-section {
   height: 100vh;
   padding: 0;
   color: #fff;
   background: linear-gradient(
      rgba(27,27,50, 0.6), 
      rgba(27,27,50, 0.9)
   ),
      url(../images/banner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#nav {
   display: flex;
   justify-content: flex-end;
   flex-wrap: nowrap;
   padding: 10px 0;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 20px;
   position: relative;
}

.nav-link {
   color: #fff;
}

.nav-link:hover {
   color: rgb(49,245,206);
}

.hamburger {
   color: #fff;
   background-image: url(../images/hamburger-icon.svg);
   width: 40px;
   height: 40px;
   border: 1px solid #fff;
   border-radius: 5px;
}

.landing-container {
   max-width: 1400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
}

.heading {
   font-weight: 700;
   padding-bottom: 20px;
   border-bottom: 2px solid #fff;
}

.landing-p {
   font-weight: 500;
   margin: 20px 0 30px;
   text-transform: uppercase;
}

.social-links {
   display: flex;
   justify-content: space-between;
   width: 300px;
}

.social-links i {
   text-align: center;
   width: 50px;
   height: 50px;
   padding: 13px;
   font-size: 24px;
   border-radius: 50%;
   color: rgb(15,15,73);
   background-color: #fff;
}

.social-links :first-child :first-child {
   padding: 13px 17px;
}

.social-links i:hover {
   background-color: rgb(49,245,206);
   transition: all 1s ease;
   animation: scale 1s ease;
}
/* about-section styles */

#about-section {
   padding: 40px 0;
   text-align: center;
   color: rgb(15,15,73);
}

.about-container {
   max-width: 1400px;
}

.profile-img {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 5px solid #fff;
   box-shadow: 0 0 4px 0 #444;
   margin-bottom: 40px;
}

#about-section p {
   font-size: 20px;
   margin-bottom: 50px;
   line-height: 2;
}

#about-section i {
   margin-bottom: 50px;
   color: rgb(26, 29, 53);
}

/* project styles */

#projects-section {
   padding: 60px 0 40px;
   background-color: rgb(214, 216, 231);
   color: rgb(15,15,73);
}

.project {
   height: 300px;
   max-width: 420px;
   margin: 0 auto 50px auto;
   text-align: center;
   position: relative;
   cursor: pointer;
}

.project-info {
   position: absolute;
   background: rgba(1, 4, 27, 0.8);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 3;
   opacity: 0;
   transition: all 0.2s ease-out;
}

.project-info:hover {
   opacity: 1;
}

.project-info a{
   color: rgb(49,245,206);
   font-size: 24px;
   font-weight: 500;
   text-decoration: none;
   position: absolute;
   height: 100%;
   width: 100%;
   text-align: center;
   top: 0;
   left: 0;
   opacity: 0;
   transition: all 0.2s ease-out;
}

.project-info a:hover {
   opacity: 1;
   transform: translateY(43%);
}

#project-1 {
   background: url(../images/project-1-thumbnail.jpg) no-repeat center;
}

#project-2 {
   background: url(../images/project-2-thumbnail.jpg) no-repeat center;
}

#project-3 {
   background: url(../images/project-3-thumbnail.jpg) no-repeat center;
}

#project-4 {
   background: url(../images/project-4-thumbnail.jpg) no-repeat center;
}
#project-5 {
   background: url(../images/project-5-thumbnail.jpg) no-repeat center;
}
#project-6 {
   background: url(../images/project-6-thumbnail.jpg) no-repeat center;
}

/* footer styles */

#footer {
   color: #fff;
   padding: 40px 0 0;
   background-color: rgb(27,27,50);
}

#footer p {
   margin-top: 40px;
   text-align: center;
}

#footer .social-links {
   margin: 30px auto;
}

#footer > p {
   background: rgb(10,10,35);
   margin: 0;
   padding: 10px;
}

@keyframes scale {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(1.1);
   }
}